/* Brandon Grotesque – Regular */
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/fonts/brandon-grotesque/BrandonGrotesque-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Brandon Grotesque – Bold */
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/fonts/brandon-grotesque/BrandonGrotesque-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Brandon Grotesque – Black */
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/fonts/brandon-grotesque/BrandonGrotesque-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Montserrat – Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Montserrat – Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
