@config "../../tailwind.config.mjs";
@import './fonts.css';
@import 'tailwindcss';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@layer base {
  html {
    scroll-behavior: smooth;
    cursor: none;
  }
  body {
    @apply font-body bg-white text-gray-800 font-sans;

    background-image:
      linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)),
      url('/images/background.svg');
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100% auto;
    background-attachment: fixed;
  }
  h1,
  h2,
  .headline {
    @apply font-headline;
  }
  a,
  button,
  [role='button'],
  [data-hover-box] {
    transition: transform 0.2s ease;
    will-change: transform;
  }
  /* Chrome-kompatibler Glassmorphism-Effekt */
  .backdrop-glass {
    backdrop-filter: blur(1.5px);
    background-color: rgba(255, 255, 255, 0.05);
  }
}
