---
import WhatIsKollegScroller from './HeroKollegScroller';

const { id } = Astro.props;
---

<section id={id} class="relative w-full min-h-screen grid grid-rows-[1fr_auto] bg-transparent">
  <!-- Glass-Overlay -->
  <div class="absolute inset-0 z-0 backdrop-glass"></div>
  <WhatIsKollegScroller client:visible className="mt-20" />
</section>
