---
import TypewriterText from '../visual/animation/TypeWriterText';
import UnderlineBrush from '../visual/animation/UnderlineBrush';
const { id } = Astro.props;
---

<section
  id={id}
  class="relative w-full min-h-screen flex items-center justify-center overflow-hidden px-6 py-16 sm:py-24"
>
  <!-- Hintergrundelemente & Animationen via React -->
  {/* SVG Hintergrund */}
  <!--<HeroBackground />-->
  <!--<HeroVisual client:load />-->

  <!-- Hauptinhalt -->
  <div
    class="lg:mt-36 relative text-center w-full max-w-screen-sm sm:max-w-screen-md md:max-w-screen-lg lg:max-w-screen-xl px-4 sm:px-6"
  >
    <h1
      class="text-[6.5vw] sm:text-3xl md:text-5xl lg:text-6xl font-headline font-bold mb-6 leading-tight"
    >
      <span
        class="inline-block text-[10vw] sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-black"
      >
        <TypewriterText
          client:idle
          words={['Karriere', 'Zukunft', 'Bildung']}
          loop={Infinity}
          cursorStyle="_"
        />
      </span>
      <br /> neu denken. <br />
      <span
        class="relative inline-block text-[11vw] sm:text-6xl md:text-7xl lg:text-8xl text-gray-900"
      >
        <span class="relative z-[1]">Kolleg</span>
        <UnderlineBrush
          className="hidden lg:block absolute left-0 bottom-0 z-0 w-full"
          fillColor="#2C6FA0"
          bottomOffset={5}
          client:visible
        />
      </span>
      starten. <br /><br />
    </h1>
    <p class="text-sm sm:text-base md:text-lg text-gray-700 mb-6">
      Entdecke, wie du mit einem Kolleg deinen Weg in Technik, Chemie oder Informatik neu starten
      kannst.
    </p>
    <a
      href={`${import.meta.env.BASE_URL}#vorteile`}
      class="cursor-none inline-block px-6 py-3 bg-primary text-white rounded-full shadow-md transition"
    >
      Jetzt informieren
    </a>
  </div>
</section>
