---
// IntroSection.astro
const { id } = Astro.props;
---

<section id={id} class="w-full h-dvh flex items-center justify-center bg-transparent">
  <div class="lg:intersect:animate-fade-right lg:animate-once lg:animate-ease-in lg:intersect-full max-w-3xl mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Was ist ein Kolleg?</h2>
    <p class="text-gray-600 ">
      Hier folgt eine kurze Einführung in das Konzept und die Ausbildungsform eines Kollegs.
    </p>
  </div>
</section>
