---
const { id } = Astro.props;
---
<section id={id} class="w-full min-h-screen flex items-center justify-center bg-transparent">
    <div
            class="lg:intersect:animate-fade-right lg:animate-once lg:animate-ease-in lg:intersect-full max-w-4xl mx-auto px-4 text-center"
    >
    <h2 class="text-3xl font-bold mb-6">Du hast die Matura – und jetzt?</h2>
    <p class="max-w-3xl mx-auto mb-6 text-lg">
        Das Kolleg ist dein Sprungbrett in eine spezialisierte, praxisnahe Ausbildung.
        In kurzer Zeit (je nach Fachrichtung in zwei bis drei Jahren) kommst du zur Diplomprüfung. Damit erreichst du nicht nur einen vollwertigen HTL-Abschluss sondern legst den Grundstein für deine Karriere in Technik, Wirtschaft oder Naturwissenschaften.
    </p>
    <p class="max-w-3xl mx-auto text-lg text-gray-700">
        Modern, kompakt und zukunftsorientiert. Zugangsvoraussetzungen sind die Matura bzw. eine Berufsreifeprüfung oder eine Studienberechtigungsprüfung.
    </p>
    </div>
</section>