---
import WhatIsCollegScroller from "@components/visual/WhatIsCollegScroller";

const { id } = Astro.props;
---
<section id={id} class="relative w-full min-h-screen grid grid-rows-[1fr_auto] bg-transparent">
  <!-- 🔮 Gradient-Hintergrund -->
  <div class="absolute inset-0 z-0" style="background: radial-gradient(ellipse at top right, #1b95cc44, transparent 90%); will-change: transform;"></div>

  <!-- 🧊 Glass-Overlay -->
  <div class="absolute inset-0 z-0 backdrop-glass"></div>
  <WhatIsCollegScroller client:visible className="mt-20"/>
</section>