---
import { KollegVsBachelor } from './KollegVsBachelor';
const { id } = Astro.props;
---

<section id={id} class="relative w-full min-h-screen bg-transparent">
  <KollegVsBachelor client:visible className="py-20 lg:py-32" />
</section>
