---
import { KollegVsBachelor } from './KollegVsBachelor';
const { id } = Astro.props;
---

<section id={id} class="w-full flex items-center justify-center">
  <KollegVsBachelor client:visible />
</section>
