---
import StudyPathContent from './StudyPathContent';
const { id } = Astro.props;
---

<section id={id} class="relative w-full h-screen flex items-center justify-center">
  <StudyPathContent client:visible />
</section>
