---
import MainLayout from '../layouts/MainLayout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import BenefitsSection from '../components/sections/BenefitsSection.astro';
import KollegsGrid from '../components/sections/KollegsGrid.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import Experiences from '../components/sections/Experiences.astro';
import { KollegVsAndStudy } from '../components/sections/KollegVsAndStudy';
---

<MainLayout>
  <HeroSection id="startseite" />
  <div class="relative bg-white" id="vorteile">
    <div
      class="absolute inset-0 z-0"
      style="background: radial-gradient(ellipse at top right, #1b95cc44, transparent 90%); will-change: transform;"
    >
    </div>
    <BenefitsSection />
  </div>

  <KollegVsAndStudy client:visible />
  <div class="relative bg-white" id="vorteile">
    <div
      class="absolute inset-0 z-0"
      style="background: radial-gradient(ellipse at top right, #1b95cc44, transparent 90%); will-change: transform;"
    >
    </div>
    <Experiences />
  </div>

  <KollegsGrid id="kollegs" />

  <div class="relative bg-white" id="kontakt">
    <div
      class="absolute inset-0 z-0"
      style="background: radial-gradient(ellipse at top right, #1b95cc44, transparent 90%); will-change: transform;"
    >
    </div>
    <ContactSection id="kontakt" />
  </div>
</MainLayout>
