---
// TODO: NOT USED CHECK IF THIS IS STILL NEEDED

//formspree.io
const formAction = import.meta.env.PUBLIC_CONTACT_FORM_URL;
---

<h1>Kontakt</h1>

<form action={formAction} method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" required />

  <label for="email">E-Mail</label>
  <input type="email" id="email" name="email" required />

  <label for="message">Nachricht</label>
  <textarea id="message" name="message" required></textarea>

  <label>
    <input type="checkbox" name="privacy" required />
    Ich akzeptiere die <a href="/datenschutz">Datenschutzerklärung</a>.
  </label>

  <button type="submit">Senden</button>
</form>
