---
import '../styles/global.css';
import Head from '@components/common/Head.astro';
import CustomCursor from "../components/visual/CustomCursor";
import Header from "../components/header/Header";
import Footer from "../components/footer/Footer";

// Optional: Props wie Titel oder Beschreibung setzen
const {
  title = 'KarriereKolleg – Dein Weg zum Erfolg',
  description = 'Alle Kollegs in der Steiermark auf einer Seite. Informiere dich über Ausbildungsformen, Vorteile und Möglichkeiten.',
  url = 'https://www.karrierekolleg.at',
  image = 'https://www.karrierekolleg.at/og-image.jpg',
} = Astro.props;
---

<html lang="de">
  <head>
    <Head title={title} description={description} url={url} image={image} />

  </head>
  <body class="text-gray-800 font-body antialiased">
    <Header client:load />
    <main>
      <slot />
    </main>
    <CustomCursor client:only="react" />
    <Footer client:load/>

    <script is:inline defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
  </body>
</html>
