---
import Head from '../components/Head.astro';
const { title, description, url, image } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <Head title={title} description={description} url={url} image={image} />
    <!-- Weitere globale Head-Elemente -->
  </head>
  <body>
    <slot />
  </body>
</html>
